@model IEnumerable<Capstone.Models.SearchItemViewModel> 

@{
    IEnumerable<SearchItemViewModel> searchItems = ViewBag.SearchItems;
}

<div>
    <div>
        <input type="text" id="searchItemInput" />
        <label for="searchItemInput">Search</label>
    </div>
    <div class="p-3 table-container">
        <table class="table table-bordered table-striped">
            <tr class="row">
                <th class="col-9">Item Name</th>
                <th class="col-3">Actions</th>
            </tr>
            @for (int i = 0; i < searchItems.Count(); i++)
            {
                <tr class="row item">
                    <input type="hidden" value="@searchItems.ToList()[i].Id" />
                    <td class="col-9">@searchItems.ToList()[i].ItemName</td>
                    <td class="col-3"><button name="@i" class="btn btn-success" type="button">Add</button></td>
                </tr>
            }
        </table>
    </div>
</div> 