@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div>
        <h1>Dashboard</h1>
    </div>

    <div class="row">

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Orders</h5>
                    <p class="card-text">Customer Order handles all related orders from clients</p>
                    <a href="#" class="btn btn-primary">Go To Customer Orders</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Product Management</h5>
                    <p class="card-text">Product Management to create, edit and delete products for sales</p>
                    <a asp-controller="Admin" asp-action="Product" class="btn btn-primary">Go To Product Management</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Management</h5>
                    <p class="card-text">Customer Management to create, edit and delete customer details to be used in orders</p>
                    <a href="#" class="btn btn-primary">Go To Customer Management</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Management</h5>
                    <p class="card-text">Account Management to create, edit and delete accounts related to website access</p>
                    <a asp-controller="Admin" asp-action="Account" class="btn btn-primary">Go To Account Management</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inventory</h5>
                    <p class="card-text">Inventory handles all records for items being sold</p>
                    <a asp-controller="Admin" asp-action="Inventory" class="btn btn-primary">Go To Inventory</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order History</h5>
                    <p class="card-text">Shows All Order History from the Database</p>
                    <a href="#" class="btn btn-primary">Go To Order History</a>
                </div>
            </div>
        </div>

    </div>
</div>