@{
    ViewData["Title"] = "Home Page";
}

 <div class="container">
     <br />
     <br />
     <br />
     <br />
     <br />
    <div>
        <h1>Dashboard</h1>
    </div>

    <div class="row">

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Accounts</h5>
                    <p class="card-text">Module that handles creating, reading, editing, deleting accounts</p>
                    <a href="/Admin/Manageaccount" class="btn btn-primary">Manage Accounts</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Orders</h5>
                    <p class="card-text">Module that handles changing customer order status for delivery</p>
                    <a href="/admin/ManageOrder" class="btn btn-primary">Manage Orders</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Inventory</h5>
                    <p class="card-text">Module that handles creating, reading, editing, and deleting products in inventory</p>
                    <a href="#" class="btn btn-primary">Manage Inventory</a>
                </div>
            </div>
        </div>

        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Sales</h5>
                    <p class="card-text">Generate reports for various audits and logs</p>
                    <a href="/admin/ManageSales" class="btn btn-primary">Manage Sales</a>
                </div>
            </div>
        </div>

    </div>
</div>