@{
    ViewData["Title"] = "Inventory";
}

<div>
    <div class="d-flex justify-content-between align-items-end">
        <div>
            <h1>Inventory</h1>
        </div>
        <div>
            <a href="#">Add</a>
        </div>
    </div>

    <div class="table-responsive container">
        <table class="table table-bordered">
            <tr class="row">
                <th class="col-6">Item Name</th>
                <th class="col-3">Stock Quantity</th>
                <th class="col-3">Actions</th>
            </tr>
            <tr class="row">
                <td class="col-6">500mL Water Bottle</td>
                <td class="col-3">999</td>
                <td class="col-3">Delete</td>
            </tr>
            <tr class="row">
                <td class="col-6">1L Water Bottle</td>
                <td class="col-3">999</td>
                <td class="col-3">Delete</td>
            </tr>
            <tr class="row">
                <td class="col-6">2L Water Bottle</td>
                <td class="col-3">999</td>
                <td class="col-3">Delete</td>
            </tr>
        </table>
    </div>
</div>
