@model IEnumerable<Capstone.Models.ProductViewModel>

@{
    ViewData["Title"] = "Product";
    ProductViewModel prod = new ProductViewModel();
}

<style>
    .table-container {
        height: 250px;
        overflow: auto;
    }

    .hidded {
        display:none;
    }

    .modal-content {
        width : 800px;
    }
</style>

<div>
    <div class="d-flex justify-content-between">
        <div>
            <h1>Products</h1>
        </div>
        <div>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Product</button>
        </div>

    </div>


    <div>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                var EditData = new Dictionary<string, string>
                {
                    { "id", item.Id.ToString()}
                };

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td><a asp-action="ProductDelete" asp-controller="Admin" asp-all-route-data="EditData" class="btn btn-danger">DELETE</a></td>
                    </tr>
            }
        </table>
    </div>

</div>

<!-- add account -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ProductAdd", "Admin", FormMethod.Post))
            {
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <input type="text" id="productName" name="productName" class="form-control" />
                        <label class="form-label" for="productName">Product Name</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="number"  id="productPrice" name="productPrice" class="form-control" />
                        <label class="form-label" for="productPrice">Product Price</label>
                    </div>

                    <div class="table-container p-2">
                        <table class="table table-striped" id="productTable">
                            <tr class="row">
                                <th class="col-6">Item Name</th>
                                <th class="col-4">Quantity</th>
                                <th class="col-2">Actions</th>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <partial name="_SearchItem" model="ViewBag.SearchItems" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="addProductData" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="/js/searchItem.js"></script>
}

