@{
    ViewData["Title"] = "About";
}

<style>
    h1 {
        font-size: 4rem;
        font-weight: bolder;
    }

</style>
<br />
<br />
<div class="container text-center mb-5 p-5">
    <div class="p-5">
        <h1>Mission</h1>
        <p>To provide high quality purified drinking water and world class service that will ensure the costumer safety and leaving them satisfied</p>
    </div>
    <div class="p-5">
        <h1>Vision</h1>
        <p>To be the leading and most trusted water refilling station that serve a safe and clean purified drinking water that prioritizing the people's health.</p>
    </div>
</div>

