@model Capstone.ViewModels.ProfileViewModel

@{
}
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <h1>My Profile</h1>
    <p>Email Address: @Model.EmailAddress</p>
    <p>Phone Number: @Model.PhoneNumber.</p>
    <p>Address: @Model.Address</p>
</div>
