@model Capstone.ViewModels.StoreViewModel

@{
}

<style>
</style>

<div>
    <div class="header">
        <div>
            <h1>Heidi's Collection</h1>
        </div>
        <div>
            <p>At heidi's we ensure that your water is purified and taste good.</p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="product col-3 border-left border-right mt-5 mb-5 pt-5">
                <div class="featured-img">
                    <img class="featured-image front" src="//cdn.shopify.com/s/files/1/0324/6453/5687/products/NewProject_54_medium.png?v=1608185389" alt="FloWater Sierra">
                    <br />
                    <br />
                    <h3>@item.Name.ToUpper()</h3>
                </div>
                <div class="product-button mt-4 pb-5">
                    <span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at luctus tortor. Nulla aliquet ligula ipsum, in imperdiet odio suscipit quis.</p>
                    </span>
                    <p>PHP @item.Price.ToString("0.00")</p>
                    <div>
                        <input type="hidden" name="id" value="@item.Id" />
                        <button class="addtocart btn btn-info container-fluid" type="submit">ADD TO CART</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.addtocart').on('click', function () {
                var id = $(this).parent().children('input').val();
                $.ajax({
                    type: 'POST',
                    url: "/Home/AddToCart",
                    data: { "id": id, },
                    dataType: "json",
                    success: function (resultData) {
                        console.log(resultData.response);
                    }
                });
            });
        });
    </script>

}

